.section-best-service__title--black {
    margin: 30px;
    text-align: left;
    padding: 20px;
    border-left: 3px solid black;
}
.section-best-service__title--black:hover {
    border-left: 7px double black;
}
.section-best-service__info {
    margin: 70px;
    display: flex;
}
.section-best-service__cookie-img {
    width: 700px;
    height: 431px;
}
.section-special-menu {
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: -5px;
}
.cookie-item {
    display: flex;
    width: 250px;
    height: 250px;
    border: 3px solid white;
    margin: 50px;
    margin-top: -70px;
}